.pagi{
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: $light-gray;
}

.pagination{
    font-family: $roboto;
    font-size: $medium;
    font-weight: $fw-regular;
}

.page-link{
    color: $eerie-black;
}

.page-item.active .page-link{
    background-color: $nickel;
    border-color: $nickel
}

.page-item:first-child .page-link {
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}


.page-item:last-child .page-link {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}




