h1, h2{
    font-family: $playfair;
    font-style: $italic;
    font-weight: $fw-black;
}

h3{
    font-family: $playfair;
    font-weight: $fw-regular;
}

p{
    font-family: $roboto;
    font-weight: $fw-light;
}
